:root {
    --elements-border: 0.19rem solid;
    --square-side: 4rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #008000;
}

.main-wrapper {
    height: 100%;
}

.border {
    border: var(--elements-border) #000000;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #808000;
    border-bottom: var(--elements-border) #000000;
    height: 2.8rem;
}

.content {
    display: flex;
}

.red-squares-container {
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-squares-wrapper {
    transform: rotate(45deg);
    height: calc(2 * var(--square-side) + 2rem);
    width: var(--square-side);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-square {
    background-color: #ff0000;
    border: var(--elements-border) #000000;
    height: var(--square-side);
    width: var(--square-side);
}

.red-square:first-of-type {
    margin-bottom: 2rem;
}

.stripes-and-circle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stripes-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.stripe {
    background-color: #0000ff;
    border: var(--elements-border) #000000;
    width: 4.8rem;
    height: 0.5rem;
}

.stripe:first-of-type {
    margin-bottom: 1.3rem;
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle {
    background-color: #008080;
    border: var(--elements-border) #000000;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-left: 0.8rem;
}

.text-box {
    border: var(--elements-border) #000000;
    width: 12rem;
    height: 85vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
}