:root {
    --elements-border: 0.3rem solid;
    --square-side: 8rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #008000;
}

.main-wrapper {
    height: 100%;
}

.border {
    border: var(--elements-border) #000000;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: #808000;
    border-bottom: var(--elements-border) #000000;
    height: 3.5rem;
}

.content {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
}

.red-squares-container {
    /*Square side * 2 + margin-bottom of the first square + 2 * padding-left of the container*/
    min-width: calc(var(--square-side) * 2 + 4rem + 1rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.5rem;
}

.red-squares-wrapper {
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-square {
  width: var(--square-side);
  height: var(--square-side);
  background-color: #ff0000;
  border: var(--elements-border) #000000;
}

.red-square:first-of-type {
    margin-bottom: 4rem;
}

.stripes-and-circle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.stripes-and-circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripes-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stripe {
    background-color: #0000ff;
    border: var(--elements-border) #000000;
    width: 8rem;
    height: 0.9rem;
}

.stripe:first-of-type {
    margin-bottom: 2.5rem;
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: #008080;
    border: var(--elements-border) #000000;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-left: 2rem;
}

.text-box-container{
    display: flex;
}

.text-box-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-box {
    border: var(--elements-border) #000000;
    width: 11.5rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.text {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding-top: 0.5rem;
}

@media (width >= 900px) {
    .content {
        justify-content: space-between;
    }

    .squares-and-stripes-wrapper {
        display: contents;
    }

    .stripes-and-circle-container {
        padding-top: 8.6rem;
    }

    .text-box-container{
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text-box {
        background-color: #ffffff;
    }
}

@media (width < 900px) {
    .content {
        justify-content: space-between;
    }

    .text-box {
        background-color: #c83737;
    }

    .squares-and-stripes-wrapper {
        display: flex;
        flex-direction: column;
    }

    .stripes-and-circle-container {
        justify-content: flex-start;
        padding-top: 10rem;
        padding-left: 0.5rem;
    }

    .text-box-container{
        padding-right: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (width < 583px) {
    .content {
        flex-direction: column;
        justify-content: left;
    }
    
    .red-squares-container {
        min-width: auto;
        justify-content: flex-start;
    }
    
    .red-squares-wrapper {
        transform-origin: bottom left;
        translate: 0 -5.5rem;
    }

    .squares-and-stripes-wrapper {
        display: contents;
    }

    .stripes-and-circle-container {
        justify-content: flex-start;
        padding-top: 3rem;
        padding-left: 0.5rem;
    }

    .stripe {
        background-color: #0000ff;
        border: var(--elements-border) #000000;
        width: 7rem;
        height: 0.79rem;
    }

    .stripe:first-of-type {
        margin-bottom: 2rem;
    }

    .circle {
        height: 6rem;
        width: 6rem;
    }
    
    .text-box-container {
        height: 100%;
        padding-top: 1.1rem;
        padding-bottom: 0.75rem;
        padding-left: 4.2rem;
    }

    .text-box {
        background-color: #0000ff;
    }
}